.custom-dropdown {
  position: relative;
  width: 100%;
}

.custom-dropdown > input {
  margin-top: 10px;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 10px;
}

.dropdown-options {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  max-height: 150px;
  overflow-y: auto;
  z-index: 1000;
}

.dropdown-options li {
  padding: 8px;
  cursor: pointer;
}

.dropdown-options li:hover {
  background-color: #ccc;
}

.dropdown-options .searchProductInput{
  width: 90%;
  display: block;
  margin: 10px auto;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}