.container {
  text-align: center;
  margin-top: 100px;
}

.heading {
  font-size: 48px;
  margin-bottom: 20px;
}

.text {
  font-size: 20px;
  margin-bottom: 20px;
}

.link {
  font-size: 16px;
  text-decoration: underline;
  color: #007bff; /* Link color */
}
