#stockSection{
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
#stockSection h2{
   text-align: center; 
   margin: 20px 0px;
}

#getStockReportBtn{
   position: fixed;
   bottom: 30px;
   right: 40px;
   padding: 10px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: all .3s ease;
}
#getStockReportBtn:hover{
   opacity: .8;
   transform: scale(1.02);
}
#getStockReportBtn:disabled{
   cursor: not-allowed;
   opacity: 1;
   transform: scale(1);
}